.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  gap: 30px;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}




.container > * {
  width: 100%;
  box-sizing: border-box;
}
